<ion-header>
  <ion-navbar color='myColor'>
    <ion-title *ngIf="!isOn" class="titulo" text-center>Alimentos</ion-title>
    <ion-searchbar *ngIf="isOn" [(ngModel)]="searchTerm" [formControl]="searchControl" (ionInput)="onSearchInput()"></ion-searchbar>
    <ion-buttons end>
      <button (click)="toggleDetails()" ion-button icon-only>
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button (click)="openCestaAlimentos()" ion-button icon-only>
        <ion-icon name="basket"></ion-icon>
        <p ion-text>{{ cestaAlimentos.length }}</p>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <div *ngIf="searching" class="spinner-container" text-center>
        <ion-spinner></ion-spinner>
    </div>
  

  <ion-list [virtualScroll]="alimentos" approxItemHeight="50px">
    <ion-item-sliding *virtualItem="let item">
      <ion-item>
      <div (swipe)="addListaOperacoes(item)" (click)="infoAlimento(item)">
            <div text-center> <h2 ion-text color="myText">{{ item.nome }}</h2> </div> <br>
            <ion-grid>
                <ion-row text-center>
                    <ion-col class="colunas" width-50><h6 ion-text color="myText">Colesterol</h6></ion-col>
                    <ion-col class="colunas" width-50><h6 ion-text color="myText">Proteína</h6></ion-col> 
                    <ion-col class="colunas" width-50><h6 ion-text color="myText"><strong>Kcal</strong></h6></ion-col>
                </ion-row>
                 <ion-row text-center>
                    <ion-col class="colunas" width-50> <h6 ion-text color="myText">{{ item.colesterol }}</h6> </ion-col>
                    <ion-col class="colunas" width-50> <h6 ion-text color="myText">{{ item.proteina }}</h6> </ion-col> 
                    <ion-col class="colunas" width-50><h6 ion-text color="secondary">{{ item.kcal }}</h6></ion-col>
                </ion-row>
          </ion-grid>
      </div>
      </ion-item>
      <ion-item-options>
          <button ion-button outline color="myColor" (click)="addListaOperacoes(item)">
          <ion-icon name="basket"></ion-icon>Cesta
        </button>

      </ion-item-options>
    </ion-item-sliding>
    </ion-list>

  <!--<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Carregando Alimentos"></ion-infinite-scroll-content>
  </ion-infinite-scroll> -->
    <ion-fab bottom right>
    <button ion-fab  color="myColor" (click)="resetLista()"><ion-icon name="refresh"></ion-icon>
    </button>
  </ion-fab>


</ion-content>
