.tudo {
    display: grid;
    grid-template-areas: "search" "cont" "foo";
    grid-template-rows: 1fr 20fr 1fr;
    height: 100%;

    margin-top: 60px;

    width: 100vw;
}

/* *********************** Pesquisa props *********************** */
.pesquisa {
    grid-area: search;
    border: 1px solid green;

    margin: 1% 0;
    width: 100vw;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px 0px;
}

.pesquisa > * {
    margin: 0px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pesquisa > * > * {
    margin: 0px 6px;
}

/* *********************** conteudo props *********************** */
.conteudo {
    grid-area: cont;
    border: 1px solid cornflowerblue;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    width: 100vw;
}

.card {
    border: 1px solid red;
    margin: 2% 5%;

    width: 20%;
    /*mobile -> width: 80%;*/
    height: 100px;
    text-align: center;
}

/* *********************** Footer props *********************** */
.foot {
    grid-area: foo;

    margin: 1% 0;
    width: 100vw;
}

/* ************* Paginação *****************/
.pagination {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.pagination li {
    padding: 10px 15px;
    margin: 0px 5px;
    list-style-type: none;
    cursor: pointer;

    border: 1px solid white;
    background-color: white;

    width: 45px;
    text-align: center;
}

/**************/

@media screen and (max-width: 801px) {
    .card {
        width: 80%;
    }

    .pesquisa {
        flex-direction: column;
        height: 130px;
    }

    .pesquisa > * {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 8px 0px;
    }

    .pesquisa > * > * {
        margin: 0px 5px;
    }
}